.uk-navbar.uk-navbar-container {
  height: 10vh;
  min-height: 72px;
  width: 100%;
  background-color: #00AAAA;
  color: #FFF;
  border-bottom: 1px solid #00AAAA;
  box-sizing: border-box;
}

.uk-navbar-nav.menu  {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin: 0 10px;
}

.uk-navbar-nav>li.uk-active>a.active {
  color: #FFFFFF;
}

.links {
  color: #6448F2;
}

main {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(90vh);
  overflow-y: auto;
}

.uk-section {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-align: start;
}

.content {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(90vh);
  overflow-y: auto;
}

#slideshow, #details, #additional, #messages {
  scroll-snap-align: start;
}

.menu {
  margin: 0 30px 0 0;
  z-index: 1;
}

.menu a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: rgb(64, 64, 64);
  margin: 0 10px;
  line-height: 8vh;
}

.menu.uk-navbar-nav>li.uk-active>a {
  color: #FFFFFF
}

label#nav-menu {
  line-height: 10vh;
  display: none
}

#toggle {
  display: none
}

.uk-button.uk-button-primary {
  background-color: #4F39BF;
}

.uk-button.uk-button-primary:focus, .uk-button.uk-button-primary:hover {
  background-color: #6448F2
}

.uk-button.uk-button-secondary {
  background-color: #00AAAA;
  border: #00AAAA solid 1px;
}

.uk-button.uk-button-muted {
  background-color: #f8f8f8;
  border: #00AAAA solid 1px;
  color: #00AAAA;
}

.uk-button.uk-button-white {
  background-color: #00AAAA;
  border: #FFFFFF solid 1px;
  color: #FFFFFF;
}

.uk-button.uk-button-secondary.selected:focus, .uk-button.uk-button-secondary.selected:hover {
  background-color: #00AAAA;
  border: #00AAAA solid 1px;
}

.uk-button.uk-button-secondary:focus, .uk-button.uk-button-secondary:hover {
  background-color: #00D8D8;
  border: #00D8D8 solid 1px;
}

button.uk-button.uk-button-primary.uk-button-large>h4, button.uk-button.uk-button-primary.uk-border-pill>a, button.uk-button.uk-button-danger.uk-border-pill>a {
  color: #FFFFFF;
  text-decoration: none;
}

button.uk-button.uk-button-default.uk-border-pill>a {
  color: #333;
  text-decoration: none;
}

.uk-link, a {
  color: #4F39BF;
}

span.uk-text-primary {
  color: #4F39BF!important
}

span.uk-text-secondary {
  color: #00AAAA!important
}

.card-section-white {
  border: #00AAAA 1px solid;
  border-radius: 15px;
  padding: 2.5%;
  margin: 2.5% 0
}

.uk-card-hover {
  border: #00AAAA 1px solid;
  border-radius: 15px;
  padding: 2.5%;
  margin: 2.5% 0
}

@media only screen and (max-width: 767px) {

  label#nav-menu {
    display: block;
    cursor: pointer
  }

  .uk-navbar-nav.menu {
    text-align: center;
    display: none;
    margin: 0;
    width: 100%
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0
  }

  .menu.uk-navbar-nav>li.uk-active>a {
    color: #333
  }
  

  #toggle:checked + .menu {
    display: block;
    background-color: #f8f8f8;
  }

  .sidebar {
    display: none
  }

  .uk-section {
    width: 100%;
    height: 90vh;
    padding: 0;
    text-align: center;
    scroll-snap-align: start;
    overflow: auto;
  }

  .overflow-container {
    overflow: auto;
  }

  .large-only {
    display: none;
  }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    label#nav-menu {
      display: block;
      cursor: pointer
    }
  
    .uk-navbar-nav.menu {
      text-align: center;
      display: none;
      margin: 0;
      width: 100%
    }
  
    .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0
    }
  
    .menu.uk-navbar-nav>li.uk-active>a {
      color: #333
    }
    
  
    #toggle:checked + .menu {
      display: block;
      background-color: #f8f8f8;
    }
  
    .sidebar {
      display: none
    }
  
    .uk-section {
      width: 100%;
      height: 90vh;
      padding: 0;
      text-align: center;
      scroll-snap-align: start;
      overflow: auto;
    }
  
    .overflow-container {
      overflow: auto;
    }
  
    .large-only {
      display: none;
    }

}

/* iPad Pro - Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    label#nav-menu {
      display: block;
      cursor: pointer
    }
  
    .uk-navbar-nav.menu {
      text-align: center;
      display: none;
      margin: 0;
      width: 100%
    }
  
    .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0
    }
  
    .menu.uk-navbar-nav>li.uk-active>a {
      color: #333
    }
    
  
    #toggle:checked + .menu {
      display: block;
      background-color: #f8f8f8;
    }
  
    .sidebar {
      display: none
    }
  
    .uk-section {
      width: 100%;
      height: 90vh;
      padding: 0;
      text-align: center;
      scroll-snap-align: start;
      overflow: auto;
    }
  
    .overflow-container {
      overflow: auto;
    }
  
    .large-only {
      display: none;
    }

}

@media only screen and (min-width: 768px) and (max-height: 900px) {

  .sidebar {
    width: 15vw;
    height: 90vh;
    border-right: #C9C9C9 solid 1px;
    box-sizing: border-box;
  }

  .uk-section {
    width: 100%;
    height: 90vh;
    padding: 0;
    text-align: center;
    scroll-snap-align: start;
    overflow: auto;
  }

  .mobile-only {
    display: none
  }

}