.uk-navbar.uk-navbar-container {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #EAEAEB;
  box-sizing: border-box;
}

.uk-navbar-nav.menu  {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin: 0 10px;
}

.uk-navbar-nav>li.uk-active>a {
  text-transform: none;
}

.uk-navbar-nav>li>a {
  padding: 0 5px
}

main {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(90vh);
  overflow-y: auto;
}

.uk-section {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-align: start;
}

.content {
  width: 100%;
  height: 90vh;
  padding: 0;
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(90vh);
  overflow-y: auto;
}

#slideshow, #details, #additional, #messages {
  scroll-snap-align: start;
}

.menu {
  margin: 0 30px 0 0;
  z-index: 1;
}

.menu a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: rgb(64, 64, 64);
  margin: 0 10px;
  line-height: 8vh;
}

label#nav-menu {
  line-height: 10vh;
  display: none
}

#toggle {
  display: none
}

.uk-button {
  background-color: #F14958
}

@media only screen and (max-width: 479px) {

  label#nav-menu {
    display: block;
    cursor: pointer
  }

  .uk-navbar-nav.menu {
    text-align: center;
    display: none;
    margin: 0;
    width: 100%
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0
  }

  #toggle:checked + .menu {
    display: block;
    background-color: #f8f8f8;
  }

  .sidebar {
    display: none
  }

  .uk-section {
    width: 100%;
    height: 90vh;
    padding: 0;
    text-align: center;
    scroll-snap-align: start;
    overflow: auto;
  }

  .overflow-container {
    overflow: auto;
  }

  .large-only {
    display: none;
  }
  
}

@media only screen and (min-width: 1200px) {

  .sidebar {
    width: 15vw;
    height: 90vh;
    border-right: #C9C9C9 solid 1px;
    box-sizing: border-box;
  }

  .uk-section {
    width: 100%;
    height: 90vh;
    padding: 0;
    text-align: center;
    scroll-snap-align: start;
    overflow: auto;
  }

  .mobile-only {
    display: none
  }

}